body {
    background-image: url("wallpaper.jpg");
    background-size: cover;
}

.text {
    opacity: 1;
    padding: 0.5rem;
    color: white;
    font-size: small;
}

.contain {
    background: rgba(0, 0, 0, .7);
    width: fit-content;
    border-radius: 0.5rem;
}

.weather {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.weatherIcon {
    position: relative;
    top: 1rem;
    padding: .5rem;
    transform: scale(1.2);
}

.day {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#time {
    color: white;
}

#date {
    color: white;
}

.dateTime {
    display: flex;
    flex-direction: column;
    padding: 0 .7rem;
}

.notification {
    background-color: rgb(40, 40, 40);
    position: relative;
    padding: 0.1rem 0.55rem 0.2rem;
    border: solid 1px white;
    border-radius: 30%;
    color: white;
    position: relative;
    transform: translate3d(0, 0, 0);
}

.click {
    padding: 0 .5rem;
    cursor: pointer;
}

.shortcut {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.taskbar {
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: space-between;
    position: absolute;
    transform: translate3d(0, 90vh, 0);
    width: 98vw;
    height: 3.5rem;
}

.icons {
    width: 25rem;
    display: flex;
    padding: 0 0.7rem;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 4vh;
}

.progressBar {
    width: 10rem;
    height: .3rem;
    background-color: white;
    margin-right: .7rem;
    border-radius: 1rem;
    transition-duration: 300ms;
}